Django==1.8.9  # >1.6.9,<1.9 blocker: djangocms
django-cms==3.2.1  # <3.3

## djangocms plugins
djangocms-column==1.6.0
djangocms-googlemap==0.4.0
djangocms-inherit==0.1.1
djangocms-link==1.7.1
djangocms-file==0.2.0
djangocms-picture==0.2.0
djangocms-teaser==0.2.0
djangocms-video==0.2.0
djangocms-style==1.6.0
djangocms-admin-style==1.1.0  # >=1.0.6
djangocms-text-ckeditor==2.8.1  # >=2.8.0
django-reversion==1.8.7  # >=1.8.7,<1.9 blocker: djangocms
django-classy-tags==0.7.1  # >=0.6.2

## and their dependencies
html5lib==0.9999999
Pillow==3.1.0  # >=2.3
django-sekizai==0.9.0  # >=0.8.2
six==1.10.0
pytz==2015.7
django-appconf==1.0.1
django-formtools==1.0
Django-Select2==5.7.1
django-treebeard==4.0

## django plugins
django-sass-processor==0.3.3  # >=0.3.3

## and their dependencies
django-compressor==2.0  # >=1.6
libsass==0.10.1  # >=0.9.3

## other utilities
piprot  # for checking if everything is up to date
