Django==1.8.12  # >1.6.9,<1.9 blocker: djangocms
django-cms==3.2.3  # <3.3
djangocms-blog==0.7.0  #>=0.6.2

## djangocms plugins
djangocms-column==1.6.0
djangocms-googlemap==0.4.0
djangocms-inherit==0.1.1
djangocms-link==1.7.2
djangocms-file==1.0.0
djangocms-picture==1.0.0
djangocms-teaser==0.2.0
djangocms-video==1.0.0
djangocms-style==1.7.0
djangocms-admin-style==1.1.0  # >=1.0.6
djangocms-text-ckeditor==2.9.1  # >=2.8.0
django-reversion==1.8.7  # >=1.8.7,<1.9 blocker: djangocms
django-classy-tags==0.7.2  # >=0.6.2

## and their dependencies
html5lib==0.9999999
Pillow==3.2.0  # >=2.3
django-sekizai==0.9.0  # >=0.8.2
six==1.10.0
pytz==2016.3
django-appconf==1.0.1
django-formtools==1.0
Django-Select2==5.8.4
django-treebeard==4.0

## django plugins
django-sass-processor==0.3.4  # >=0.3.3 TODO switch to https://github.com/andreyfedoseev/django-static-precompiler ???

## and their dependencies
django-compressor==2.0  # >=1.6
libsass==0.11.0  # >=0.9.3

## other utilities
piprot  # for checking if everything is up to date
