{% load cms_tags staticfiles sekizai_tags menu_tags sass_tags %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}FAU FabLab{% endblock title %}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% sass_src 'fablab_theme/css/faufablab.scss' %}">
		{% render_block "css" %}
		{% include "favicon.html" %}
	</head>
	<body>

		<div id="top"></div>
		{% cms_toolbar %}

		<nav class="navbar navbar-inverse navbar-static-top navbar-sticky" role="navigation">
			<div class="container container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">
						<img class="img-thumbnail hidden-xs" src="/static/logo/fablab_logo.svg" alt="FAU FabLab"/>
						<img class="img-thumbnail visible-xs" src="/static/logo/fab_cube.svg" alt="FAU FabLab"/>
					</a>
				</div><!-- /.navbar-header -->
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						{% show_menu 0 1 100 100 "menu.html" %}
						<!-- user icon collapsed menu -->
						<li class="visible-xs dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<img class="img-circle img-thumbnail" src="/static/logo/fab_cube_gray.svg" alt=""/>
								<span>Username</span>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/">Admin</a></li>
								<li><a href="/admin/logout/">Abmelden</a></li>
							</ul>
						</li>
					</ul><!-- /.navbar-nav -->
					<!-- user icon large menu -->
					<ul class="fade-down hidden-xs nav navbar-nav navbar-right">
						<p class="navbar-text fade-down-item-animate">Username</p>
						<li><a href="/admin/" class="stack-item ">
							<img class="img-circle img-thumbnail" src="/static/logo/fab_cube_gray.svg" alt="anmelden"/>
						</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/">Admin</a></li>
								<li><a href="/admin/logout/">Abmelden</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="container">
			<div class="row">
				<div role="complementary" class="fixed-top col-md-3">
					<nav class="hidden-print well hidden-xs hidden-sm affix">
						<ul class="nav">
							<p>Aktionen</p>
							<li><a href="#action0">Aktion 0</a></li>
							<li>
								<a href="#action1">Aktion 1</a>
								<ul class="nav">
									<li><a href="#action2">Aktion 2</a></li>
									<li><a href="#action3">Aktion 3</a></li>
								</ul>
							</li>
							<p>Seiten</p>
							{% show_menu 0 1 100 100 "menu.html" %}
							<li class="text-center">
									<a class="back-to-top smooth_scroll" href="#top">
										<span class="glyphicon glyphicon glyphicon-menu-up"></span>
									</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="col-md-9 content" role="main">
					{% block content %}{% endblock content %}
					<div>

					</div>
				</div>
			</div>

		</div>

		{% include "footer.html" %}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="/static/fablab_theme/js/faufablab.js"></script>
		{% render_block "js" %}
	</body>
</html>
