{% load sass_tags %}
<footer>
	<link rel="stylesheet" href="{% sass_src 'css/footer.scss' %}">
	<div class="container">
		<p class="pull-right">
			<a href="#top" class="smooth_scroll">
				<span class="glyphicon glyphicon glyphicon-menu-up"></span>
			</a>
		</p>
		<h1>Bleib informiert</h1>
		<div class="hidden-xs btn-group" role="group">
			<a id="twitter" class="btn btn-lg btn-success" href="https://twitter.com/FAUFabLab" title="Twitter">
				<i class="fa fa-twitter fa-2x"></i>
				<br />@FAUFabLab
			</a>
			<a id="facebook" class="btn btn-lg btn-success" href="https://facebook.com/FAUFabLab" title="Facebook">
				<i class="fa fa-facebook fa-2x"></i>
				<br />FAUFabLab
			</a>
			<a id="googleplus" class="btn btn-lg btn-success" href="https://plus.google.com/+FAUFabLabErlangen" title="Google+">
				<i class="fa fa-google-plus fa-2x"></i>
				<br />+FAUFabLabErlangen
			</a>
			<a id="github" class="btn btn-lg btn-success" href="https://github.com/fau-fablab" title="GitHub">
				<i class="fa fa-github fa-2x"></i>
				<br />fau-fablab
			</a>
			<!--<a id="rss" class="btn btn-lg btn-success" href="https://fablab.fau.de/rss.xml" title="RSS">
				<i class="fa fa-rss fa-2x"></i>
				<br />RSS-Feed
			</a>-->
			<a id="app" class="btn btn-lg btn-success" href="https://fablab.fau.de/app" title="App">
				<i class="fa fa-android fa-2x"></i> <i class="fa fa-apple fa-2x"></i>
				<br />App
			</a>
		</div>
		<div class="visible-xs btn-group-vertical" role="group">
			<a id="twitter" class="btn btn-lg btn-success" href="https://twitter.com/FAUFabLab" title="Twitter">
				<i class="fa fa-twitter fa-2x"></i>	@FAUFabLab
			</a>
			<a id="facebook" class="btn btn-lg btn-success" href="https://facebook.com/FAUFabLab" title="Facebook">
				<i class="fa fa-facebook fa-2x"></i> FAUFabLab
			</a>
			<a id="googleplus" class="btn btn-lg btn-success" href="https://plus.google.com/+FAUFabLabErlangen" title="Google+">
				<i class="fa fa-google-plus fa-2x"></i> +FAUFabLabErlangen
			</a>
			<a id="github" class="btn btn-lg btn-success" href="https://github.com/fau-fablab" title="GitHub">
				<i class="fa fa-github fa-2x"></i> fau-fablab
			</a>
			<!--<a id="rss" class="btn btn-lg btn-success" href="https://fablab.fau.de/rss.xml" title="RSS">
				<i class="fa fa-rss fa-2x"></i> RSS-Feed
			</a>-->
			<a id="app" class="btn btn-lg btn-success" href="https://fablab.fau.de/app" title="App">
				<i class="fa fa-android fa-2x"></i> <i class="fa fa-apple fa-2x"></i> App
			</a>
		</div>
	</div>
</footer>
