<footer>
	<link rel="stylesheet" href="/static/css/footer.css">
	<div class="container">
		<p class="pull-right">
			<a href="#top" class="scroll-smooth">
				<span class="glyphicon glyphicon glyphicon-menu-up"></span>
			</a>
		</p>
		<h1>Bleib informiert</h1>
		<p class="follow_icons">
			<a href="https://twitter.com/FAUFabLab" id="t" title="Twitter">
				<img alt="Twitter: @FAUFabLab" class="icon" src="/static/icons/twitter.svg"/>
			</a>
			<a href="https://facebook.com/FAUFabLab" id="f" title="Facebook">
				<img alt="Facebook: FAUFabLab" class="icon" src="/static/icons/facebook.svg"/>
			</a>
			<a href="https://plus.google.com/+FAUFabLabErlangen" id="gp" title="Google+">
				<img alt="Google+: +FAUFabLabErlangen" class="icon" src="/static/icons/gplus.svg"/>
			</a>
			<a href="https://github.com/fau-fablab" id="gh" title="GitHub">
				<img alt="Github: fau-fablab" class="icon" src="/static/icons/github.svg"/>
			</a>
			<!--<a href="https://fablab.fau.de/rss.xml" id="rss" title="RSS">
				<img alt="RSS-Feed" class="icon" src="/static/icons/rss.svg"/>
			</a>-->
			<a href="https://fablab.fau.de/app" id="app" title="App">
				<img alt="App" class="icon" src="/static/icons/app.svg"/>
			</a>
		</p>
	</div>
</footer>
