<footer class="footer">
	<div class="container">
		<p class="pull-right">
		<a href="#top" class="smooth_scroll">
			<span class="glyphicon glyphicon glyphicon-menu-up"></span>
		</a>
		</p>
		<h1>Bleib informiert</h1>
		<div class="btn-group" role="group">
			<a id="twitter" class="btn btn-lg btn-success" href="https://twitter.com/FAUFabLab" title="Twitter">
				<i class="fa fa-twitter fa-2x"></i>
				<span class="hidden-xs"><br />@FAUFabLab</span>
			</a>
			<a id="facebook" class="btn btn-lg btn-success" href="https://facebook.com/FAUFabLab" title="Facebook">
				<i class="fa fa-facebook fa-2x"></i>
				<span class="hidden-xs"><br />FAUFabLab</span>
			</a>
			<a id="googleplus" class="btn btn-lg btn-success" href="https://plus.google.com/+FAUFabLabErlangen" title="Google+">
				<i class="fa fa-google-plus fa-2x"></i>
				<span class="hidden-xs"><br />+FAUFabLabErlangen</span>
			</a>
			<a id="github" class="btn btn-lg btn-success" href="https://github.com/fau-fablab" title="GitHub">
				<i class="fa fa-github fa-2x"></i>
				<span class="hidden-xs"><br />fau-fablab</span>
			</a>
			<!--<a id="rss" class="btn btn-lg btn-success" href="https://fablab.fau.de/rss.xml" title="RSS">
				<i class="fa fa-rss fa-2x"></i>
				<span class="hidden-xs"><br />RSS-Feed</span>
			</a>-->
			<a id="app" class="btn btn-lg btn-success" href="https://fablab.fau.de/app" title="App">
				<i class="fa fa-android fa-2x"></i> <i class="fa fa-apple fa-2x"></i>
				<span class="hidden-xs"><br />App</span>
			</a>
		</div>
	</div>
</footer>
