@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import "./../fablab_theme/css/mixins.scss";

footer {
	.icon {
		height: 3em;
	}

	a.btn {

		@include transition(.5s, box-shadow, transform);

		&:hover {
			box-shadow: 0px 0px 5px black;
			transform: scale(1.05);
		}
	}
}
